# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# TensorFlow
*.keras
*.h5
*.ckpt
*.pb

# Logs and debug
*.log
# additional/test_results/
ref_docs/
*.pdf
*.wav
*.txt

# Dataset
AdditionalSimulatedData/
SimulatedData/
MatchedData/
RealData/

# OS
.DS_Store
Thumbs.db

# Checkpoints 
# Vehicle-Speed-from-Audio-SE-ResNet/checkpoints/*_model/
